@model CapacitacionCertificacion.Models.EvaluacionesSatisfaccion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EvaluacionesSatisfaccion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puntaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsignNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsignNavigation.IdAsign)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEva">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
