@model IEnumerable<CapacitacionCertificacion.Models.EvaluacionesSatisfaccion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Puntaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAsignNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Puntaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAsignNavigation.IdAsign)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEva">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEva">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEva">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
