@model CapacitacionCertificacion.Models.Recordatorio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recordatorio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEjecucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEjecucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MensajeRecord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MensajeRecord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpNavigation.IdEmp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoRecordNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoRecordNavigation.IdTipoRecord)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRecord">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
