@model IEnumerable<CapacitacionCertificacion.Models.InformesCumplimiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionInfor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoInformeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionInfor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpNavigation.IdEmp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoInformeNavigation.IdTipoInforme)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInfor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInfor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInfor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
